body {
    margin: 0;
}

#Top {
    background: linear-gradient(to bottom, #A3DC9A, #DEE791, #FFF9BD, #FFD6BA);
}

.top-container {
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 200px auto auto;
}

.top-item img{
    width: 100%;
}

.bear {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.hammer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 200px;
    display: flex;
    justify-self: center;
    align-self: center;
}

.main-text {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text > h1 {
    font-size: 5rem;
    font-family: "Permanent Marker", cursive;
    color: #004030;
    margin-bottom: 25px;
}

.main-text > h2 {
    font-size: 2.5rem;
    margin-top: 0;
    font-family: "Zilla Slab", serif;
    color: #3E5F44;
}

.desc-container {
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-rows: 25% 50% auto;
    height: 500px;
}

.desc-item.pfp {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfp > img {
    width: 150px;
    border-radius: 50%;
}

.desc-item {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc-item > h2 {
    color: #3E5F44;
    font-size: 2.5rem;
    margin: 0;
}

.skills-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto 200px 50% auto;
    grid-template-rows: 10% auto auto;
    gap: 30px;
}

.skill {
    grid-column: span 4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 0;
    color: #3E5F44;
    margin-right: 0;
}

.skill-item{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#sissyphus {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.skills-container img {
    width: 100%;
}

hr {
    margin-top: 50px;
    width: 20%;
    border: 0;
    border-top: 7px dashed #A3DC9A;
}

.skill1 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.skill2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
}

.skills-container h3 {
    color: #6ca176;
}

.contact-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container h2 {
    font-size: 2.5rem;
    color: #3E5F44;
    margin-bottom: 20px;
}

.contact-container p {
    font-weight:700;
    color:#3E5F44
}

.button {
    margin-top: 20px;
    border-radius: 5%;
    width: auto;
    height: auto;
    font-size: 20px;
    background-color: #A3DC9A;
}

a {
    text-decoration: none;
    color:#3E5F44;
    font-weight: 500;
}

.button:hover {
    background-color: #004030;
}

a:hover {
    color:#A3DC9A;
}

#End {
    margin-top: 100px;
    background: linear-gradient(to top, #A3DC9A, #DEE791);
}

.end-container {
    height: 150px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .skills-container {
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .skills-container img {
        width: 200px;
    }
    
    .main-text > h1 {
        font-size: 2rem;
    }

    .main-text > h2 {
        font-size: 1.5rem;
    }
    .contact-container {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    .desc-container {
        text-align: center;
    }
}